<div class="header">
  <img alt="rentoo" src="rentoo.png">
  <h1> Welcome {{ current_user.email }}</h1>
</div>

<form class="form-inline">
  <div class="form-group">
    <input class="form-control" placeholder="title" type="text" ng-model="card.title">
    <input class="form-control" placeholder="situation" type="text" ng-model="card.situation">
    <input class="form-control" placeholder="task" type="text" ng-model="card.task">
    <input class="form-control" placeholder="action" type="text" ng-model="card.action">
    <input class="form-control" placeholder="result" type="text" ng-model="card.result">

    <button class="btn btn-default" ng-click="createCard(card)">Create Card</button>
  </div>
</form>
<div  ng-repeat="card in cards" class="jumbotron login">
  <div>
    <p> {{card.title}} </p>
    <p> Situation: {{card.situation}} </p>
    <p> Task: {{card.task}} </p>
    <p> Action: {{card.action}} </p>
    <p> Result: {{card.result}} </p>
  </div>
</div>

<div class="jumbotron login">
  <div class="container">
    <form class="form-group row" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <button class="btn btn-lg btn-danger" ng-click="signOut()">Logout</button>
    </form>
  </div>
</div>
