<div class="header">
  <h2> STAR Cards </h2>
  <h3> Home</h3>
</div>

<form class="form-inline">
  <div class="form-group">
    <input class="form-control" placeholder="title" type="text" ng-model="card.title">
    <input class="form-control" placeholder="situation" type="text" ng-model="card.situation">
    <input class="form-control" placeholder="task" type="text" ng-model="card.task">
    <input class="form-control" placeholder="action" type="text" ng-model="card.action">
    <input class="form-control" placeholder="result" type="text" ng-model="card.result">
    <button class="btn btn-lg btn-default" ng-click="createCard(card)">Create Card</button>
  </div>
</form>


  <div class="container">
    <form class="form-group row" ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <button class="btn btn-lg btn-danger" ng-click="signOut()">Logout</button>
    </form>
  </div>

<button class="btn btn-lg btn-primary" ui-sref="index" ui-sref-active="active">Cards</button>
